.fondo_Informe {
    background-color: #040438;
}


.contenedor-filtro {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #174457;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

@media (max-width: 768px) {
    .contenedor-filtro .row {
        flex-direction: column;
    }

    .contenedor-filtro .col-md-3 {
        width: 100%;
        margin-bottom: 10px;
    }
}


.texto-informe {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
    font-style: initial;
    text-transform: uppercase;
    font-size: 0.8em;
}


.colspan-responsive {
    display: none;
}

@media (min-width: 768px) {
    .colspan-responsive {
        display: table-cell;
    }
}

.top-fixed {
    position: sticky;
    top: 0;
    z-index: 10;
}

.informe-ventas-tabla thead th {
    background: #6366f1;
        border-color: #6366f1;
    font-size: 0.75rem;
    text-transform: uppercase;
    border-bottom: none;
  

    }