html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.Tamañonav
{
  height: 5em;

}

.Textobohemia {
  font-family: Arial, sans-serif; /* Puedes cambiar la fuente */
  font-variant: small-caps; /* Convierte el texto en mayúsculas estilizadas */
  font-weight: bold; /* Aumenta el grosor de la letra */
  color: rgb(0, 0, 0);
}




/* 
Loguin */

.posicion_emal{
  width: 50em;
}

.cardIngreso{
  -webkit-backdrop-filter: blur(10px);     /* Compatibilidad Safari */
  border: 1px solid rgba(228, 228, 228, 0.842);
  padding: 20px 15px; 
  width: 25vw;
  height: 30vw; 
  margin: auto;
  margin-bottom: 20px;
  border-radius: 25px;
  backdrop-filter: blur(10px) brightness(1.2) saturate(150%);

}

.Imagen_Loguin {
  background-color: hsl(218, 41%, 15%);
  background-image: url('/lib/img/EstanteRopa.jpg'),
      radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  }
  .Imagen_Registro
{
  background-color: hsl(218, 41%, 15%);
  background-image: url('/lib/img/zapatos.webp'),
      radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}


.color {
  background-color: transparent;
}

.btn-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.btn-flotante:hover {
  background-color: black;
  color: white; /* Cambia a blanco al pasar el mouse */
  transform: scale(1.3);
}





.titulo_denegado  {
  font-size: 4em;
  color: red;

 
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {
  .titulo_denegado {
    font-size: 3rem; /* Ajusta el tamaño del título en pantallas medianas */
  }
}

@media (max-width: 576px) {
  .titulo_denegado {
    font-size: 3rem; /* Ajusta el tamaño del título en pantallas pequeñas */
  }
}


.contenedor-filtro {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

@media (max-width: 768px) {
  .contenedor-filtro .row {
    flex-direction: column;
  }

  .contenedor-filtro .col-md-3 {
    width: 100%;
    margin-bottom: 10px;
  }
}


@media (max-width: 550px) {
  .ocultar-en-550px {
      display: none;
  }
}
@media (max-width: 768px) {
  .ocultar-en-768px {
      display: none;
  }
}
