#tbody-Carga_Venta {
    display: block;
    max-height: 400px; /* Ajusta este valor según el tamaño que desees */
    overflow-y: auto;  /* Habilita el scroll vertical */
    width: 100%;       /* Asegura que el tbody ocupe el 100% del ancho de la tabla */
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


/* Personalizar la barra de desplazamiento */
#tbody-Carga_Venta::-webkit-scrollbar {
    width: 20px; /* Ancho de la barra de scroll */
}

/* Color de la barra de desplazamiento */
#tbody-Carga_Venta::-webkit-scrollbar-track {
    background: #292828; /* Color de fondo del track (la pista de la barra de scroll) */
}

/* Color del pulgar (parte que se mueve) */
#tbody-Carga_Venta::-webkit-scrollbar-thumb {
    background: #555454; /* Color negro para el pulgar */
    border-radius: 10px; /* Bordes redondeados para el pulgar */
}

/* Color cuando el pulgar está siendo hover (cuando el usuario pasa el mouse sobre él) */
#tbody-Carga_Venta::-webkit-scrollbar-thumb:hover {
    background: #aca9a9; /* Un gris más claro cuando el usuario pasa el mouse */
} 
h1{
    text-align: center;
    color: hsl(15, 12%, 20%);
    font-style: italic;
    text-decoration: underline;
    font-size: 3rem;

}

.inputVenta{
   margin-top: 2rem;
   margin-bottom: 2rem;
   margin-left: auto;
    margin-right: 0;
}


.filtros-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espacio entre los filtros */
    margin-top: 20px;
    margin-bottom: 20 px;
}

.filtro {
    flex: 1 1 calc(33.333% - 15px); /* Ocupa 1/3 en escritorio */
    min-width: 250px; /* Evita que en pantallas muy pequeñas se achique demasiado */
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input, select {
    
    padding: 8px;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* RESPONSIVE para celulares */
@media (max-width: 768px) {
    .filtros-container {
        flex-direction: column;
        gap: 10px;
    }
    
    .filtro {
        width: 100%;
    }
}
#myToastOutside {
    position: fixed;
    top: 265px;
    right: 20px;
    z-index: 1050;
    border-radius: 8px;
    padding: 10px;
    background-color: #198754; /* Verde de Bootstrap */
    color: white;
}

#myToastOutside::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Coloca la flecha debajo del toast */
    right: 15px; /* Ajusta la posición horizontal de la flecha */
    width: 20px;
    height: 10px;
    background-color: #198754; /* Mismo color del toast */
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}


.color_Fondo_Sugerencias
{
    background-color: #72ace4;
}