@{
    ViewData["Title"] = "Home Page";
}

<body class="fondo">
    

<h1 class="tituloCard" style="text-align: center;">Bienvenido a Bohemia Vintage</h1>
<section class="home-cards">
  <div class="card">
    <a asp-controller="Productos" asp-action="Index" class="card">
    <img src="/lib/img/Inventario.jpeg" alt="Imagen 1">
    <div class="card-content">
      <h3 class="tituloCard">Producto</h3>
      <p class="Textobohemia">usted podra cargar los productos de la tienda: código, descripción, precios, cantidad y editarlos.</p>
    </div>
    </a>
  </div>

  <div class="card">
    <a asp-controller="Venta" asp-action="Index" class="card">
    <img src="/lib/img/Venta.jpeg" alt="Imagen 2">
    <div class="card-content">
      <h3 class="tituloCard">Realizar venta</h3>
      <p class="Textobohemia"> usted podra Realizar Ventas detallar la cantidad y generar un registro</p>
    </div>
    </a>
  </div>
</section>
</body>