@{
    var currentAction = ViewContext.ActionDescriptor.DisplayName;
    var hideSidebar = currentAction.Contains("Login") || currentAction.Contains("Register");
    @using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoBohemia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.6.0/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Productos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/cliente.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cobro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoBohemia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/MDB5/css/mdb.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/wwwroot\fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.6.0/autoNumeric.min.js"></script>
    <script src="path/to/chartjs/dist/chart.umd.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const myChart = new Chart(ctx, {...});
</script>


</head>

<body>

    @if (!hideSidebar)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm mb-3 Tamañonav">
            <div class="container-fluid">
                <a class="navbar-brand Textobohemia" asp-area="" asp-controller="Home" asp-action="Index">Bohemia</a>

                <!-- Botón del menú en dispositivos pequeños con icono blanco -->
                <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars text-white"></i>
                </button>
                <!-- Contenedor del menú -->
                <div class="collapse navbar-collapse bg-dark p-3 rounded-bottom" id="navbarNav">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link text-light Textobohemia" asp-area="" asp-controller="Venta"
                                asp-action="Index">Venta</a>
                        </li>

                                 <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light Textobohemia" href="#"
                                id="clientesProveedoresDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Clientes y Proveedores
                            </a>

                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="clientesProveedoresDropdown">
                                <li>
                                    <a class="dropdown-item Textobohemia" asp-area="" asp-controller="Cliente"
                                        asp-action="Index">
                                        Cliente
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item Textobohemia" asp-area="" asp-controller="Proveedor"
                                        asp-action="Index">
                                        Proveedor
                                    </a>
                                </li>
                            </ul>
                        </li>


                                 <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light Textobohemia" href="#"
                                id="clientesProveedoresDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Cuenta corriente
                                
                            </a>

                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="clientesProveedoresDropdown">
                                <li>
                                    <a class="dropdown-item Textobohemia" asp-area="" asp-controller="Cobro"
                                        asp-action="index">
                                        Cobros
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item Textobohemia" asp-area="" asp-controller="MovimientoCuentaCorriente"
                                        asp-action="Index">
                                        Movimiento Cuenta Corriente
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item Textobohemia" asp-area="" asp-controller="VentaCuotas"
                                        asp-action="Index">
                                        Venta en Cuotas
                                    </a>
                                </li>
                            </ul>
                        </li>

                        @if (User.IsInRole("ADMINISTRADOR"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light Textobohemia" asp-area="" asp-controller="Productos"
                                    asp-action="Index">Producto</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light Textobohemia" href="#" id="dropdownInforme"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Informes
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownInforme">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Informe" asp-action="Index">Informe</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Informe" asp-action="IndexPro">Informe Top</a>
                                    </li>
                                </ul>
                            </li>


                        }


    
                    </ul>
                    <!-- Sección de login -->
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
