@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<header>
    <h1 class="text-danger titulo_denegado text-center my-3 "><i class="fa-solid fa-user-xmark"></i> @ViewData["Title"] <i class="fa-solid fa-user-xmark"></i></h1>
    <p class="text-danger   my-3  text-center ">No tienes acceso a este recurso</p>
    <p class="text-danger  text-center my-3 "> <br>
       🚫  Esta seccion este utilizada para cuentas especificas y Administrador 🚫 <br>

</header>
