@{
    ViewData["Title"] = "Clientes";
}

<body class="Fondo_cobro">

    <h1 class="Textobohemia text-center">Clientes</h1>

    <h6 class="Textobohemia text-center mb-4">
        En esta sección usted podrá ingresar los nuevos clientes
    </h6>

    <div class="container cobros-dark">

        <input type="hidden" id="ClienteID" value="0">

        <!-- ================= FORMULARIO ================= -->
        <div class="row mb-4">

            <div class="col-md-4">
                <label class="form-label Textobohemia">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="⚠️ Ingrese Nombre">
            </div>

            <div class="col-md-4">
                <label class="form-label Textobohemia">Localidad</label>
                <input type="text" class="form-control" id="localidad" placeholder="Ingrese Localidad">
            </div>

            <div class="col-md-4">
                <label class="form-label Textobohemia">DNI / CUIL</label>
                <input type="text" class="form-control" id="dni" placeholder="⚠️ Ingrese DNI / CUIL">
            </div>

        </div>

        <div class="row mb-4 align-items-end">

            <div class="col-md-4">
                <label class="form-label Textobohemia">Teléfono</label>
                <input type="number" class="form-control" id="telefono" placeholder="⚠️ Ingrese teléfono">
            </div>

            <div class="col-md-4">
                <label class="form-label Textobohemia">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Ingrese email">
            </div>

            <div class="col-md-4 mt-3">
                <button class="btn btn-outline-dark w-100" onclick="GuardarCliente()">
                    Guardar Cliente
                </button>
            </div>

        </div>

        <!-- ================= TABLA ================= -->
        <div class="table-responsive mt-4">
            <table class="table table-hover table-dark table-sm">
                <thead>
                    <tr>
                        <th class="Textobohemia-tabla">Nombre</th>
                        <th class="Textobohemia-tabla ocultar-en-768px">Localidad</th>
                        <th class="Textobohemia-tabla">Teléfono</th>
                        <th class="Textobohemia-tabla ocultar-en-768px">Email</th>
                        <th class="Textobohemia-tabla ocultar-en-768px">DNI / CUIL</th>
                        <th class="Textobohemia-tabla">Editar</th>
                        <th class="Textobohemia-tabla ocultar-en-768px">Estado</th>
                        <th class="Textobohemia-tabla ocultar-en-768px">Eliminar</th>
                    </tr>
                </thead>
                <tbody id="detalleCliente"></tbody>
            </table>
        </div>

    </div>

    @section Scripts {
        <script src="~/js/Clientes.1.0.0.js"></script>
    }

</body>